<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider">
    
    <ion-slide-page class="first">

        <button class="slideButton firstDark" ng-click="skipIntro()">
          Ir para o aplicativo <i class="flaticon-arrows"></i>
        </button>
    </ion-slide-page>
    
    <ion-slide-page class="second">
        <button class="slideButton secondDark" ng-click="skipIntro()">
          Ir para o aplicativo <i class="flaticon-arrows"></i>
        </button>
    </ion-slide-page>
    
    <ion-slide-page class="third">
        <button class="slideButton-secondary thirdDark">
          <span>Login</span> 
        </button>
        <button class="slideButton-secondary thirdDark">
          <span>Inscreva-se</span> 
        </button>
        <button class="slideButton thirdDark" ng-click="skipIntro()">
          <span>Ir para o aplicativo</span> <i class="flaticon-arrows"></i>
        </button>
    </ion-slide-page>
    
  </ion-slides>
  
</ion-content>