<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="sidemenu-item side-menu">
        
        <ion-item class="menu-item-1">
          <div>
            <button class="button button-dark">Login</button>
            <button class="button button-dark">Inscreva-se</button>
          </div>
        </ion-item>
       
        <ion-item menu-close class="sidemenu-item">
            <ion-list>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-social"> </i> <span>Adicione um artista</span>
              </ion-item>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-music"> </i> Artistas
              </ion-item>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-people"> </i> Produtores
              </ion-item>
                 <ion-item class="sidemenu-sub-item">
                   <i class="flaticon-search"> </i>  Pesquisar
              </ion-item>
            </ion-list>
        </ion-item>

          <ion-item menu-close class="menu-item-3">
            <ion-list>
              <ion-item class="sidemenu-sub-item">
                  <span>Opções para usuarios registrados</span><br>
                  <i class="flaticon-social-1"> </i> <span>meus contatos favoritos</span>
              </ion-item>
            </ion-list>
        </ion-item>

          <ion-item menu-close class="menu-item-4">
            <ion-list>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-interface-1"> </i> <span>Availiar aplicativo</span>
              </ion-item>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-info"> </i> Anuncie
              </ion-item>
              <ion-item class="sidemenu-sub-item">
                  <i class="flaticon-black"> </i> Sobre o ShowBusiness
              </ion-item>
                 <ion-item class="sidemenu-sub-item">
                   <i class="flaticon-cellphone"> </i>  Revista ShowBusiness Online
              </ion-item>
            </ion-list>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
